name: Build APK

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet

      # ✅ دقیقاً نسخه‌ای که Flet می‌خواهد
      - name: Install Flutter 3.38.7
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.7"

      - name: Flutter doctor
        run: flutter doctor

      # ✅ جلوگیری از prompt تعاملی
      - name: Build APK
        run: |
          yes | flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/*.apk